<div class="container">
<!--  <h3>Site under Construction.</h3>
  <div>
    <%#= image_tag("ecom-siteUC.png", alt: "under-cons") %>
  </div>-->
  <div>
    <%= react_component("HelloWorld", {greeting: "Hello Gopi Krishna"}) %>
  </div>
</div>
